@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #3E1F1B;
  color: #F0C18C;
  margin: 0px;
  background-image: url("../img/candy.png");
  background-size: 350px 317px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Playfair Display", serif;
  padding: 10px 20px 12px 20px;
  margin: 0px;
  color: #D8B49C; 
}

h2 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  margin: 0px;
}

table {
  background-color: #4F2C1D; 
  margin: 10px;
  padding: 5px;
  border: 1px solid #D8B49C; 
  border-spacing: 0px;
}
  
th {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: #D8B49C; 
  color: #4F2C1D; 
}
  
td {
  padding: 5px 10px;
  color: #F0C18C; 
}

a {
  color: #D8B49C; 
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

nav {
  padding: 0.5em;
  background-color: #4F2C1D; 
}

nav a {
  text-transform: uppercase;
  padding: .5em;
}
nav a:hover {
  color: #fff;
}
 
.button {
  background-color: #D8B49C; 
  color: #4F2C1D; 
  border-color: #D8B49C; 
  border-radius: 300px;
  -webkit-transition: .3s background-color linear;
  -moz-transition: .3s background-color linear;
  -o-transition: .3s background-color linear;
  transition: .3s background-color linear;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #4F2C1D; 
  border-radius: 300px;
  -webkit-transition: .1s background-color linear;
  -moz-transition: .1s background-color linear;
  -o-transition: .1s background-color linear;
  transition: .1s background-color linear;
  color: #D8B49C; 
}
  
.offer {
  text-transform: uppercase;  
}

footer {
  background-color: #4F2C1D; 
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
